.container {
    background-color: #515151;
    border-radius: 8px;
    margin-top: 30px;
}

.page-title {
    color: #f79709;
    font-weight: 700;
    font-size: 45px;
    text-align: center;
    margin-top: 50px;
}

.booking-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.booking-header {
    text-align: center;
    background-color: #f79709;
    display: flex;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    flex-direction: column;
    width: 100%;
    padding: 20px;

}

.film-title {
    color: #252525;
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 10px;
}

.booking-info {
    display: flex;
    color: #515151;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    justify-content: center;
    gap: 150px;

}

.info-item {}

.info-lable {}

.info-value {}

.seats-summary {
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.seats-list {}

.seats-title {
    color: #f79709;
    font-weight: 700;
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.booking-list {
    display: flex;
    background-color: #404040;
    padding: 20px;
    border-radius: 8px;
    width: 100%;
    margin-bottom: 30px;
    gap: 50px;
    justify-content: center;
}

.booking-type {
    
}

.booking-item {
    display: flex;
    justify-content: space-between;
    font-size: 25px;
    color: #ebebeb;
    font-weight: 700;

}

.booking-total {
    
}

.booking-payment {
    background-color: #5f5e5e;
    padding: 20px;
}

.payment-title {
    color: #f79709;
    font-weight: 700;
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 20px;
} 
 
.payment-form {
    display: flex;
    color: #515151;
    font-size: 30px;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.card-group {
    display: flex;
    gap: 20px;
    width: 100%;
}

.card-group .form-group {
    flex: 1 1 0%;
}

.card-number {

}

.card-title {
    font-size: 20px;
    color: #b0b0b0;
    margin-left: 0;
}

.card-input {
    width: 100%;
    background-color: #404040;
    border: solid 1px #b0b0b0;
    color: #b0b0b0;
    border-radius: 8px;
    padding: 15px 20px;
    font-size: 20px;
    transition: background 0.3s , box-shadow 0.3s;
    outline: none;
}

.card-input:hover {
    border: #f79709;
    
    
}

.card-input:focus {
    border: #f79709;
    box-shadow: 0 0 10px rgba(247, 152, 9, 0.233)
}

.payment-button {
    margin-top: 15px;
    border-radius: 50px;
    width: 100%;
    padding: 20px;
    background-color: #f79709;
    border: none;
    cursor: pointer;
}

.price-title {
    color: #f79709;
    font-weight: 700;
    font-size: 30px;
    margin-top: 20px;
    padding-top: 8px;
    border-top: 1px solid #f79709;
}