.container {
    background-color: #515151;
    border-radius: 8px;
    margin-top: 8px;
}

.film-info {
    text-align: center;
    margin-bottom: 20px;
    padding-top: 10px;
}

.film-name {
    font-size: 32px;
    margin: 20px 0;
}

.seance-info {
    font-size: 18px;
    color: #f9f9f9;

}

.seance-time,
.hall-name {
    padding: 5px 15px;
    background-color: #f9f9f9;
    border-radius: 20px;
    margin: 0 10px;
    color: #252525;
}

.ticket-panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: #f9f9f9;
}

.ticket-counter {
    font-size: 18px;
    color: #252525;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.book-btn {
    background-color: #e1ab49;
    color: #ffffff;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 25px;
    cursor: pointer;
    border: none;
    transition: box-shadow 0.3s, transform 0.3s;
}

.book-btn:hover {
    box-shadow:
        0 0 20px rgba(213, 139, 21, 0.5),
        0 0 40px rgba(124, 92, 92, 0.3),
        0 0 60px rgba(123, 58, 58, 0.1);
    transform: scale(1.02);
}

.hall-container {
    padding: 20px;
    position: relative;
    background-color: #3a3a3a;
}

.screen {
    text-align: center;
    padding: 20px;
    background-color: #333333;
    color: #ffffff;
    width: 80%;
    margin: 0 auto 30px;
    border-radius: 10px;
}

.ticket-price {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 18px;
    color: #252525;
}

.seats-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 15px;
    margin: 20px 0;
    height: 700px;
    position: relative;
    z-index: 2;
    left: 50%;
    transform: translateX(-50%);
}

.cinema-mask {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 600px;
    height: 800px;
    opacity: 0.75;
    pointer-events: none;
    background-image: url(cinema-img.png);
    background-size: cover;
    background-position: center;
    -webkit-mask-image:
        linear-gradient(to bottom, black 60%, transparent 100%),
        radial-gradient(circle at center, black 50%, transparent 85%);
    -webkit-mask-composite: source-in;
    mask-image:
        linear-gradient(to bottom, black 60%, transparent 100%),
        radial-gradient(circle at center, black 50%, transparent 85%);
    mask-composite: intersect;
}

.seats-row {
    display: flex;
    gap: 8px;
    justify-content: center;
    z-index: 1;
}

.seat {
    width: 40px;
    height: 40px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s;
}

.seat-vip:hover {
    box-shadow:
        0 0 20px rgba(213, 139, 21, 0.5),
        0 0 40px rgba(124, 92, 92, 0.3),
        0 0 60px rgba(123, 58, 58, 0.1);
    transform: scale(1.02);
}

.seat-standart {
    background-color: #338a2bb3;
    border: 2px solid #173c13b3;
}

.seat-standart:hover {
    box-shadow:
        0 0 20px rgba(36, 246, 17, 0.5),
        0 0 40px rgba(30, 101, 9, 0.3),
        0 0 60px rgba(30, 159, 34, 0.1);
    transform: scale(1.02);
}

.seat-standart.selected {
    background-color: #291dd1;
    border-color: #0a0734;
}

.seat-vip {
    background-color: #e1ab49;
    border: 2px solid #da8e01;
}

.seat-vip.selected {
    background-color: #291dd1;
    border-color: #0a0734;
}

.seat-taken {
    background-color: #515151;
    border: 2px solid #757575;
    cursor: not-allowed;
}

.seats-type {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 30px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    padding: 10px;
}

.seat-item {
    display: flex;
    align-items: center;
    gap: 8px;
    color: #f9f9f9;
    font-size: 18px
}

.seat-type {
    width: 30px;
    height: 30px;
    border-radius: 8px;
}

.seat-type.standart {
    background-color: #338a2bb3;
    border: 2px solid #173c13b3;
}

.seat-type.vip {
    background-color: #e1ab49;
    border: 2px solid #da8e01;
}

.seat-type.selected {
    background-color: #291dd1;
    border-color: #0a0734;
}

.seat-type.taken {
    background-color: #515151;
    border: 2px solid #757575;
    cursor: not-allowed;
}