
.container {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

input,textarea {
    padding: 10px;
    border-radius: 5px;
    font-size: 15px;
    border: 1px solid #ddd;
}

textarea {
    resize: vertical;
}

button {
    background-color: blue;
    color: wheat;
    border: none;
    padding: 12px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

#result {
  margin-top: 20px;
  padding: 16px;
  border-radius: 5px;
}

.success {
    color: green;
}